@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* 시스템 다크모드 (크롬, 모바일의 자체 다크모드) */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --foreground: #ededed;
  }
}

/* 클래스 기반 다크모드 (토글 형식의 개인의 다크모드) */
.dark {
  --background: #101010;
  --foreground: #ededed;
}

/* dark: 클래스 사용을 위한 variant 추가 */
@variant dark (&:is(.dark *));

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
